<!-- title is shared with all sub-states -->
<h1>POST MAKER</h1>
<a ui-sref="postMaker.home" ng-if="$state.current.name !== 'postMaker.home'">Go home</a>

<!-- makes a spot for various sub-states setup in the ui-router config -->
<!-- (sub-states off of a parent state in $stateProvider setup in router.js) -->
<div ui-view></div>